.board {
  margin: 100px;
  display: grid;
  place-items: stretch;
  place-content: stretch;
  grid-template-columns: repeat(40, 1rem);
  grid-template-rows: repeat(40, 1rem);
  background-color: oldlace;
  width: 40rem;
  height: 40rem;
}