# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDEs
.idea
.vscode

# dependencies
snake-ai/node_modules
snake-ai/.pnp
.pnp.js

# testing
snake-ai/coverage

# production
snake-ai/build

# react files
*/package-lock.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
